<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="esp32-ip" value="192.168.0.14"/>
		<add key="host" value="192.168.0.20"/>
		<add key="database" value="cometlux"/>
		<add key="user" value="Admin"/>
		<add key="mdp" value="cocorico%*"/>
		<add key="port" value="3306"/>
	</appSettings>
</configuration>